/****** Object:  Database  ******/
IF NOT EXISTS(SELECT 1 FROM sys.databases WHERE name='QLBH')
CREATE DATABASE [QLBH]
GO
USE [QLBH]
GO
/****** Object:  Table  ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BANHANG]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BANHANG](
	[Store ID] [nvarchar](255) NULL,
	[Trans_Time] [datetime] NULL,
	[Sale_man] [nvarchar](255) NULL,
	[Sale_man_ID] [nvarchar](255) NULL,
	[Sale_man_address] [nvarchar](255) NULL,
	[Tên Khách hàng] [nvarchar](255) NULL,
	[Mã khách hàng] [nvarchar](255) NULL,
	[retail bill] [nvarchar](255) NULL,
	[Total bill] [nvarchar](255) NULL,
	[Loại tiền] [nvarchar](255) NULL,
	[Loại hàng hóa] [nvarchar](255) NULL,
	[unit Price] [float] NULL,
	[Mua vào C/Bán ra D] [nvarchar](255) NULL,
	[Số tiền Mua hàng nguyên tệ] [float] NULL,
	[Số tiền mua hàng  quy đổi] [float] NULL,
	[Hoa hồng] [float] NULL,
	[Mức chiết khấu] [float] NULL,
	[Số tiền chậm trả] [float] NULL,
	[Ngày đến hạn trả nợ] [datetime] NULL,
	[Phân hạng khách hàng] [float] NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table  ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HANGHOA]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[HANGHOA](
	[STT] [float] NULL,
	[Product] [nvarchar](255) NULL,
	[Price] [float] NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table  ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KHACHHANG]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[KHACHHANG](
	[Mã KH] [nvarchar](255) NULL,
	[Tên khách hàng] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL,
	[Sex] [nvarchar](255) NULL,
	[Company] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[Phone Num] [float] NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NHANVIEN]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[NHANVIEN](
	[STT] [float] NULL,
	[Name] [nvarchar](255) NULL,
	[Mã ký hiệu] [nvarchar](255) NULL,
	[Mã Nhân viên] [nvarchar](255) NULL,
	[Ngày vào công ty] [datetime] NULL,
	[hệ số lương] [float] NULL
) ON [PRIMARY]
END
/****** Object:  Table  ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TYGIA]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TYGIA](
	[Ngày] [datetime] NULL,
	[Loại tiền] [nvarchar](255) NULL,
	[Tỷ giá] [float] NULL
) ON [PRIMARY]
END
GO
INSERT [dbo].[HANGHOA] ([STT], [Product], [Price]) VALUES (1, N'Adjustable Race', 1.6)
INSERT [dbo].[HANGHOA] ([STT], [Product], [Price]) VALUES (2, N'Bearing Ball', 0.8)
INSERT [dbo].[HANGHOA] ([STT], [Product], [Price]) VALUES (3, N'BB Ball Bearing', 2.4)
GO

GO
INSERT [dbo].[KHACHHANG] ([Mã KH], [Tên khách hàng], [Address], [Sex], [Company], [Email], [Phone Num]) VALUES (N'MKH209292', N'Aaron Adams', N'Đắk Nông', N'Oth', N'Cong ty 12043', N'Aaron Adams@gmail.com', 988902949)
INSERT [dbo].[KHACHHANG] ([Mã KH], [Tên khách hàng], [Address], [Sex], [Company], [Email], [Phone Num]) VALUES (N'MKH435992', N'Aaron Alexander', N'Hà Nội', N'Oth', N'Cong ty 9490', N'Aaron Alexander@gmail.com', 988842444)
INSERT [dbo].[KHACHHANG] ([Mã KH], [Tên khách hàng], [Address], [Sex], [Company], [Email], [Phone Num]) VALUES (N'MKH549765', N'Aaron Allen', N'Hòa Bình', N'mr', N'Cong ty 27994', N'Aaron Allen@gmail.com', 983005132)
GO
INSERT [dbo].[NHANVIEN] ([STT], [Name], [Mã ký hiệu], [Mã Nhân viên], [Ngày vào công ty], [hệ số lương]) VALUES (72177, N'Osé                           ', N'Baris                        ', N'513-00-4964', CAST(N'2014-05-15T00:00:00.000' AS DateTime), 12)
INSERT [dbo].[NHANVIEN] ([STT], [Name], [Mã ký hiệu], [Mã Nhân viên], [Ngày vào công ty], [hệ số lương]) VALUES (72178, N'Limp                          ', N'Anibal                       ', N'950-00-3364', CAST(N'2018-02-11T00:00:00.000' AS DateTime), 14)
INSERT [dbo].[NHANVIEN] ([STT], [Name], [Mã ký hiệu], [Mã Nhân viên], [Ngày vào công ty], [hệ số lương]) VALUES (72179, N'Hen                           ', N'Alex                         ', N'890-00-1764', CAST(N'2019-06-24T00:00:00.000' AS DateTime), 6)
GO
INSERT [dbo].[TYGIA] ([Ngày], [Loại tiền], [Tỷ giá]) VALUES (CAST(N'2019-01-03T00:00:00.000' AS DateTime), N'CAD', 16913)
INSERT [dbo].[TYGIA] ([Ngày], [Loại tiền], [Tỷ giá]) VALUES (CAST(N'2019-01-17T00:00:00.000' AS DateTime), N'CAD', 16650)
INSERT [dbo].[TYGIA] ([Ngày], [Loại tiền], [Tỷ giá]) VALUES (CAST(N'2019-01-22T00:00:00.000' AS DateTime), N'CAD', 16722)
GO
